<div class="col-12 col-lg-12 videos">
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
    @Html.Partial("PartialViews/VideoCard")
</div>
